<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Send an email!</h2>
      </div>
      <div class="modal-body">
        <%= render partial: 'item_requests/form', modal: true,
        item_request: @item_request %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
