
<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @items.empty? %>
  <p>There are no items for sale at this time.</p>
<% else %>
  <% @items.each do |item| %>
    <div class="row">
      <div class= "span8">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/260x250" alt="...">
            <div class="caption">
              <h3><%= link_to item.title, {action: 'show', id: item.id} %></h3>
              <h4><%=  number_to_currency(item.price, :unit => "$") %></h4>
              <span class="input-group-addon">
              <input type="checkbox">
            </span>
            </div>
          </div>
      </div>
    </div>
  <% end %>
<% end %>





