/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container-fluid { margin: 5%;}

.row-fluid {margin: 5%;}


.navbar { background-color: #9DE0AD;}
.navbar-brand {
  width: 100%;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: #594F4F;
}
.btn {background-color: #45ADA8;
      color: #594F4F;}

body {padding: 30px;
      margin: 0 auto;
      min-height: 100%; /* Set to minimum height so overflow doesn't get hidden */
      overflow-y: hidden; /* HIDE overflow; I know, it doesn't make much sense */
      position: relative;
      background-color: #E5FCC2}
h2 {color: #45ADA8;}
h3 {color: #547980;}